.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}
.maincontainer{
    text-align: center;
    background-color: white;
    border-radius: 4px;
    display: table;
    height: 100%;
}
.rightcontainer,.leftcontainer{
    text-align: center;
}
body{
    background-color: rgb(45, 149, 209);
    font-family: 'Architects Daughter';
    font-size: large;
}
button,.button,#submit{
    font-family: 'Architects Daughter';
    font-size: large;
    border-radius: 4px;
    transition: 0.3s;
    box-shadow: -3px 3px rgb(136, 133, 133);
    background-color: rgb(71, 173, 233);
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
}
button:hover,.button:hover,#submit:hover{
    background-color: rgb(45, 149, 209);
}
input{
    font-family: 'Architects Daughter';
    font-size: large;
}
button:active,.button:active,#submit:active{
    background-color: rgb(45, 149, 209);
    box-shadow: -3px 3px rgb(136, 133, 133);
    transform: translate(-1px,1px);
}
table{
    display: inline-table;
}
td.label{
    text-align: right;
    width: 50%;
}
td.input{
    text-align: left;
    width: 50%;
}
form#loginform,form#registerform{
    background-color: rgb(116, 202, 252);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 45%;
}
.fholder{
    display: table-cell;
    vertical-align: middle;
}
div#messages{
    overflow-y:auto;
    width: 100%;
    height: 87%;
    background-image: url("back.jpg");
    border-radius: 4px;
    background-position: center;
}
.messageother{
    width: 100%;
    text-align: left;
}
.messageself{
    width: 100%;
    text-align: right;
}
.msg{
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: left;
}
.msgself{
    max-width: 500px;
    background-color: rgb(183, 255, 189);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    text-align: left;
}
.txt{
    font-family: sans-serif;
    font-size: large;
    display: inline-block;
    padding: 2px;
}
.sender{
    font-size: smaller;
    display: inline-block;
    color: rgb(58, 113, 177);
}
.senderself{
    font-size: smaller;
    display: inline-block;
    color: rgb(58, 116, 63);
}
.time{
    font-size: smaller;
    display: inline-block;
    color: rgb(58, 113, 177);

}
.timeself{
    font-size: smaller;
    display: inline-block;
    color: rgb(58, 116, 63);

}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(104, 104, 104, 0.473);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(45, 149, 209, 0.473); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 149, 209); 
}
textarea{
    outline: none;
    font-family: 'Architects Daughter';
    font-size: large;
    border: 1px solid rgb(45, 149, 209);
    border-radius: 7px;
}